{{- /*
  全站页面的唯一导航配置：楼层导航与页面过场优先级共同读取这里。
  新增主页面时只需增加一项；visible 决定是否显示在电梯中。
*/ -}}
{{- $pages := slice
  (dict "key" "friends" "label" "朋友" "system_label" "朋友" "route" "/friends/" "priority" 1 "floor" "01" "visible" true "map_visible" true "map_column" 1 "map_row" 1 "map_column_span" 4 "map_row_span" 2)
  (dict "key" "memories" "label" "回忆" "system_label" "回忆" "route" "/friends/memories/" "priority" 1 "floor" "01-R" "visible" false "map_visible" true "map_column" 5 "map_row" 1 "map_column_span" 4 "map_row_span" 2)
  (dict "key" "home" "label" "首页" "system_label" "首页" "route" "/" "priority" 2 "floor" "00" "visible" true "map_visible" true "map_column" 3 "map_row" 3 "map_column_span" 6 "map_row_span" 2)
  (dict "key" "posts" "label" "档案" "system_label" "档案" "route" "/posts/" "priority" 3 "floor" "-01" "visible" true "map_visible" true "map_column" 1 "map_row" 5 "map_column_span" 5 "map_row_span" 2)
  (dict "key" "tags" "label" "标签" "route" "/tags/" "priority" 3 "visible" false "map_visible" false)
  (dict "key" "tools" "label" "工具" "system_label" "工具" "route" "/tools/" "priority" 4 "floor" "-02" "visible" true "map_visible" true "map_column" 4 "map_row" 7 "map_column_span" 5 "map_row_span" 2)
  (dict "key" "write" "label" "投稿" "system_label" "投稿" "route" "/write/" "priority" 5 "floor" "-03" "visible" false "map_visible" false)
  (dict "key" "general" "priority" 3 "visible" false)
-}}
{{- return $pages -}}
